@font-face {
  font-family: "EsaManru";
  font-weight: 200;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EsaManru";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EsaManru";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EsaManru";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Plaid";
  font-weight: 300;
  font-style: normal;
  src: url("Plaid_FaktPro/FaktPro-normal-400-100.ttf");
  src: url("Plaid_FaktPro/FaktPro-normal-400-100.ttf")
      format("embedded-opentype"),
    url("Plaid_FaktPro/FaktPro-normal-400-100.ttf") format("woff2"),
    url("Plaid_FaktPro/FaktPro-normal-400-100.ttf") format("woff"),
    url("Plaid_FaktPro/FaktPro-normal-400-100.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: bold;
  font-style: normal;
  src: url("Pretendard/Pretendard-SemiBold.otf");
  src: url("Pretendard/Pretendard-SemiBold.otf") format("embedded-opentype"),
    url("Pretendard/Pretendard-SemiBold.otf") format("woff2"),
    url("Pretendard/Pretendard-SemiBold.otf") format("woff"),
    url("Pretendard/Pretendard-SemiBold.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-ExtraLight";
  font-weight: lighter;
  font-style: normal;
  src: url("Pretendard/Pretendard-ExtraLight.otf");
  src: url("Pretendard/Pretendard-ExtraLight.otf") format("embedded-opentype"),
    url("Pretendard/Pretendard-ExtraLight.otf") format("woff2"),
    url("Pretendard/Pretendard-ExtraLight.otf") format("woff"),
    url("Pretendard/Pretendard-ExtraLight.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Light";
  font-weight: lighter;
  font-style: normal;
  src: url("Pretendard/Pretendard-Light.otf");
  src: url("Pretendard/Pretendard-Light.otf") format("embedded-opentype"),
    url("Pretendard/Pretendard-Light.otf") format("woff2"),
    url("Pretendard/Pretendard-Light.otf") format("woff"),
    url("Pretendard/Pretendard-Light.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Thin";
  font-weight: lighter;
  font-style: normal;
  src: url("Pretendard/Pretendard-Thin.otf");
  src: url("Pretendard/Pretendard-Thin.otf") format("embedded-opentype"),
    url("Pretendard/Pretendard-Thin.otf") format("woff2"),
    url("Pretendard/Pretendard-Thin.otf") format("woff"),
    url("Pretendard/Pretendard-Thin.otf") format("truetype");
  font-display: swap;
}
