@font-face {
  font-family: "EsaManru";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EsaManru1";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EsaManru2";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.about_Grid {
  background-color: #f4f0e7;
}

.about_Grid1 {
  margin-top: 143%;

  .about_Grid1_description {
    color: #ec4d27;
    font-family: "Pretendard-Regular";
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    padding-top: 50px;
    padding-left: 80px;

    .text-bold {
      font-family: "Pretendard";
      font-weight: 800;
    }
  }
}

.about_Grid2 {
  .about_Grid2_tittle {
    color: #ec4d27;
    font-family: "EsaManru2";
    font-weight: 700;
    font-size: 120px;
    padding-top: 180px;
    padding-left: 80px;
  }

  .about_Grid2_topic {
    display: flex;
    justify-content: space-between;
    height: 500px;

    padding-top: 130px;
    padding-left: 80px;
    padding-right: 80px;

    .Grid2_img {
      width: 30%;
    }
    .topic_text {
      width: 30%;

      .topic_title {
        color: #ec4d27;
        .topic_title_num {
          font-family: "EsaManru2";
          font-size: 76px;
        }
        .topic_title_key {
          font-family: "EsaManru1";
          font-size: 76px;
        }
      }
    }
    .topic_descript {
      font-family: "Pretendard-Regular";
      padding-top: 58px;
      font-size: 17px;
      line-height: 31px;
    }
  }

  .BtnContainer {
    padding-top: 200px;
    padding-bottom: 102px;
    height: 64px;
    display: flex;
    justify-content: center;

    .Btn {
      /* border: 1px solid red; */
      font-family: "EsaManru";

      background-color: #ec4d27;
      border-radius: 5px;
      width: 349px;
      text-align: center;
      line-height: 64px;

      font-size: 18px;

      .LinkBTN {
        text-decoration: none;
        color: #f4f0e7;
      }
    }

    .Btn:hover {
      background-color: #f4f0e7;
      border: 1px solid #ec4d27;
      .LinkBTN {
        color: #ec4d27;
      }
    }
  }
}
