/*
# img - resource
<a href="https://www.flaticon.com/kr/free-icons/" title="노트북 아이콘">노트북 아이콘  제작자: Freepik - Flaticon</a>
*/

@font-face {
  font-family: "EsaManru";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/dmsans/v5/rP2Hp2ywxg089UriOul9AjACXnc.woff2")
    format("woff2");
}

.about_Banner {
  position: absolute;
  top: 0%;

  height: 200%;
  width: 100%;

  background-color: #ec4d27;

  .about_Banner_tittle {
    font-family: "EsaManru";
    font-weight: 700;
    font-size: 300px;
    line-height: 280px;

    padding-left: 80px;
    padding-top: 180px;

    color: #f4f0e7;
  }

  .banner_box {
    display: flex;

    position: relative;

    .about_Banner_text {
      font-family: "DM Sans";
      font-weight: 700;
      font-size: 56px;

      padding-left: 80px;
      padding-top: 130px;

      color: #f4f0e7;
    }

    /*노트북  사진*/
    .imgBox {
      background-image: url("../img/About-free-icon-student.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 130px;
      right: 80px;

      /* border: 1px solid blue; */
      background-color: transparent;

      width: 300px;
      height: 350px;
    }
  }

  /*memeber들 사진*/
  .about_Banner_picture {
    /* border: 1px solid blue; */

    background-image: url("../img/About-us.jpg");
    background-size: cover;

    margin-top: 350px;
    height: 1000px;

    text-align: center;
    line-height: 500px;
  }
}
