@font-face {
  font-family: "EsaManru";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EsaManru2";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EsaManru";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plaid";
  font-weight: 300;
  font-style: normal;
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf");
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf")
      format("embedded-opentype"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff2"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("truetype");

  font-display: swap;
}

/*banner 전체 화면 구성*/
.banner {
  display: block;
}

/*About 소개 paige*/
.about {
  margin-top: 1458px;
  height: 800px;

  background-color: #ec4d27;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutBox {
  margin: 176px 1130px;

  width: 613px;
  height: 448px;
}

.About1 {
  font-family: "EsaManru2";
  color: white;

  height: 70px;
  font-size: 51px;
  font-weight: 500;
  line-height: 64px;
  text-align: center;
  letter-spacing: 2%;
}

.About2 {
  font-family: "Pretendard-Regular";
  color: white;
  margin-top: 80px;
  height: 45px;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.aboutBtn_container {
  display: flex;
  justify-content: center;
}

.AboutBtn {
  font-family: "Plaid";
  color: #ec4d27;

  font-size: 26px;

  background-color: #f4f0e7;

  border: 1px solid #ec4d27;
  border-radius: 5px;

  margin-top: 150px;
  height: 110px;
  width: 258px;
}

.AboutBtn:hover {
  color: rgba(244, 240, 231, 1);

  background-color: #ec4d27;
  border: 1px solid #f4f0e7;
}
