/*header 영역 구분선*/
.header {
  position: relative; /*BTN, img_logo 위치 조정을 위해서 사용, [기준 위치]*/
  border: 1px solid blue;
  height: 96.33px;
  background-color: white;
}

/*header 영역 LOGO 부분*/
.img_logo {
  /*position: absolute;Logo 위치 조정*/
  /*top: 0%; Logo 위치 수직방향 위치, [Logo의 위치]*/
  /* left: 0%; */

  width: 150px;
  height: 70px;
  overflow: hidden;
  object-fit: scale-down;
  /* left: 5%; 좌측 배치 간격 */
}

/*header 영역 BTN 부분*/
.header-BTN {
  position: absolute; /*BTN 위치 조정*/
  /*top: 10%; BTN 위치 수직방향 위치, [BTN의 위치]*/
  /*right: 20%; 우측 배치 간격*/

  display: flex; /*요소들 높이 정렬 요인 [style-componet로 정렬되지 않은 높이를 맞출 수 있음]*/
  width: 100%;
  height: 100%;

  background-color: white;
}

/*BTN hover시 text 색상*/
a:hover {
  color: orange;
}

/*BTN hover시 span 영역 색상*/
span:hover {
  background-color: orange;
}

/*header-logo부분*/
.header_logo {
  width: 300px;
}

/*header-location부분*/
.header_location {
  margin-left: 200px;
}
