@font-face {
  font-family: "EsaManru";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Plaid";
  font-weight: 300;
  font-style: normal;
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf");
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf")
      format("embedded-opentype"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff2"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("truetype");

  font-display: swap;
}

/*sticky 효과 주기*/
.header_sticky {
  position: sticky;
  top: 0;
  z-index: 2; /*slider안으로 들어가지 않게 하는 것*/
}

/*header_bar_line 이미지 위치 조정*/
.Navigation_bar_line_div /*test*/ {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 25px;
}

/*header 영역 구분선*/
.header {
  position: relative; /*BTN, img_logo 위치 조정을 위해서 사용, [기준 위치]*/
  height: 86px;

  background-color: rgba(255, 255, 255, 0.3); /*header 불투명도 주기*/
}

/*header 영역 LOGO 부분*/
.header_logo {
  margin-left: 80px;
}

.img_logo {
  width: 100%;
  height: 150px;
}

/*header 영역 BTN 부분*/
.header-BTN {
  display: flex; /*요소들 높이 정렬 요인 [style-componet로 정렬되지 않은 높이를 맞출 수 있음]*/
  width: 100%;
  align-items: center;
  background-color: transparent; /*투명효과*/
}

/*Link영역과 div영역 크기 맞추기 위해서 (.~_link) 작업함*/

/*btn 요소별 간격 hard-coding (btn별로 하단, line이미지 참고하여 간격 조정)*/
.ticket_link {
  /*logo와의 간격*/
}

/*BTN들의 link크기, text 정렬*/
.ticket_link,
.schedule_link,
.about_link,
.location {
  text-decoration-line: none;
}

.ticket_link {
  margin-left: 670px;
}

.schedule_link {
  margin-left: 335px;
}
.about_link {
  margin-left: 310px;
}
.location {
  margin-left: 385px;
}

.ticket_text,
.schedule_text {
  font-family: "EsaManru";
  font-weight: 200;
  font-size: 26px;
  line-height: 150px;
  /* margin-bottom: 0px; */
}

.ticket_text,
.schedule_text,
.about_text {
}

.schedule_text {
  font-weight: 200;
}
.about_text {
  font-family: "Plaid"; /*font_style변경*/
  font-size: 26px;
  line-height: 150px;
}

.location {
  display: flex; /*icon, text 한줄 정렬*/
  font-family: "Plaid"; /*font_style변경*/
  font-size: 26px;
}

.location_icon {
  width: 35px; /*icon, width폭에 맞춤*/
}

.location_icon > img {
  width: 25px;
}

.location_text {
  margin-left: 9px;
}
/*header-logo부분*/
.header_logo {
  width: 300px;
}

/*header-location부분*/
.header_location {
  margin-left: 200px;
}
