/*Font 사용*/
@font-face {
  font-family: "EsaManru";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Plaid";
  font-weight: 300;
  font-style: normal;
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf");
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf")
      format("embedded-opentype"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff2"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("truetype");

  font-display: swap;
}

/*Grid_Green  부분*/
.Schedule_Frame_Grid1 {
  position: relative;
  height: 1712px;
  background-color: rgba(44, 110, 73, 1);
}

.Schedule_Frame_Grid1_title {
  height: 166px;

  padding-left: 102px;
  padding-right: 102px;
  padding-top: 72px;

  color: rgba(255, 255, 255, 1);

  font-family: "EsaManru";
  font-size: 98px;
  line-height: 45px;
  font-weight: 300;

  text-align: center;
}

/*추천 정보(시설/휴식/식사/면세) components - Grid1 부분*/
.Schedule_Frame_Grid1_recommend {
  /* border: 3px solid red; */
  height: 1200px;
  color: white;
  line-height: 1200px;
  text-align: center;
}

.Schedule_Frame_Grid1_Arrow {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%);

  height: 20px;
  .Uparrow {
    width: 32px;
    animation: motion 0.4s linear 0s infinite alternate;
  }
}

@keyframes motion {
  0% {
    padding-top: 10px;
  }
  100% {
    padding-top: 0px;
  }
}

.Schedule_Frame_Grid1_Btn {
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;

  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);

  height: 46px;
  width: 419px;

  background-color: rgba(0, 0, 0, 1);
  color: rgba(244, 240, 231, 1);

  /*btn text 중앙 정렬(부모 tag의 높이와 같게 설정)*/
  line-height: 46px;
  text-align: center;

  font-family: "EsaManru";
  font-size: 20px;
}

.Schedule_Frame_Grid1_Btn:hover {
  background-color: rgba(44, 110, 73, 1);
  color: rgba(0, 0, 0, 1);
}
