@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.time_box {
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
  border-radius: 5px;

  font-family: Pretendard-Regular;
}

.clock,
.interval,
.weather {
  font-family: "Pretendard-Regular";
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.clock {
  font-size: 40px;
  padding-right: 20px;
  letter-spacing: -2px;
}

.interval {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 25px;

  .interval_contry {
    font-size: 15px;
    font-weight: 500;
  }
}

.weather {
  font-size: 21px;
  padding-left: 20px;
  img {
    width: 50px;
  }
}

