@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.time_box {
  width: 350px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
}

.clock,
.interval,
.weather {
  font-family: "Pretendard-Regular";
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.clock {
  font-size: 30px;
  border-right: 1px solid white;
  padding-right: 20px;
}

.interval {
  border-right: 1px solid white;
  padding-right: 20px;

  .interval_contry {
    padding-top: 25%;
    font-size: 12px;
  }
}

.weather {
  img {
    width: 50px;
  }
}
