/*Font 사용*/
@font-face {
  font-family: "EsaManru";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Plaid";
  font-weight: 300;
  font-style: normal;
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf");
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf")
      format("embedded-opentype"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff2"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("truetype");

  font-display: swap;
}

/*Banner 부분*/
.Schedule_Frame_Banner {
  position: relative;
  height: 780px;
  background-image: url("../img/inairport_banner.png");
  background-size: cover;
  color: white;
}

/*공항 Icon - Banner 부분*/
.Schedule_Frame_Banner_Icons {
  border: 1px solid red;
  position: absolute;
  top: 40%;
  left: 80px;

  width: 314px;
  height: 37px;

  background-color: rgba(165, 165, 165, 0.5);
}

/*시간, 날씨 정보 - Banner 부분*/
.Schedule_Frame_Banner_infoWeather {
  position: absolute;
  top: 40%;
  right: 80px;

  width: 314px;
  height: 41px;

  background-color: rgba(165, 165, 165, 0.5);
  line-height: 41px;
  text-align: center;

  /*infoweather안의 요소들의 위치(width % 비율 조정)*/
  display: flex;
  .currentTime {
    width: 50%;
  }
  .intervalTime {
    border-left: 1px solid white;
    width: 30%;
  }
  .weather {
    border-left: 1px solid white;
    width: 20%;
  }
}
