@font-face {
  font-family: "EsaManru";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

.closeBtn {
  background-image: url("../img/cancel_btn.png");
  width: 16px;
  height: 16px;
  background-size: cover;
  margin-top: 32px;
  margin-left: 843px;
}

.closeBtn > button {
  border: none;
}

.modal-wrapper {
  height: 100%;
  padding-left: 60px;
  padding-top: 68px;
  padding-right: 215px;
}

/*Modal Icon이 들어갈 자리*/
.modal-wrapper .Info_Icon {
  background-image: url("../img/Shower_black.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 35px;
}

.modal-wrapper .Info_title {
  font-family: "EsaManru";
  padding-top: 29px;
  font-size: 28px;
}

.modal-wrapper .Info_descrip {
  font-family: "Pretendard-Regular";
  white-space: pre-line;
  padding-top: 29px;
  font-size: 20px;
}
