/*Font ���*/
@font-face {
  font-family: "EsaManru";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Plaid";
  font-weight: 300;
  font-style: normal;
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf");
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf")
      format("embedded-opentype"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff2"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("truetype");

  font-display: swap;
}

/*Banner �κ�*/
.Schedule_Frame_Banner {
  position: relative;
  height: 780px;
  background-image: url("../img/inairport_banner.png");
  background-size: cover;
  color: white;
}

.Schedule_Frame_Banner_infoBox {
  position: sticky;
  top: 10px;

  padding-top: 250px;

  /* border: 1px solid red; */
  /* position: absolute; */
  /*header와의 간격*/
  top: 30%;

  display: flex;
  align-items: center;
}

/*���� Icon - Banner �κ�*/
.Schedule_Frame_Banner_Icons {
  /* left: 80px; */
  margin-left: 80px;
  padding: 10px 20px;
  height: 37px;
  border-radius: 5px;
  backdrop-filter: blur(15px);

  background-color: rgba(255, 255, 255, 0.1);
}

/*�ð�, ���� ���� - Banner �κ�*/
.Schedule_Frame_Banner_infoWeather {
  /* position: absolute;
  top: 40%;
  right: 80px; */
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;

  margin-left: 950px;
}
