@font-face {
  font-family: "EsaManru";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EsaManru";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EsaManru";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plaid";
  font-weight: 300;
  font-style: normal;
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf");
  src: url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf")
      format("embedded-opentype"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff2"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("woff"),
    url("../font/Plaid_FaktPro/Plaid-normal-400-100.ttf") format("truetype");

  font-display: swap;
}

/*banner 전체 화면 구성*/
.banner {
  position: absolute;
  top: 0;
  display: block;

  width: 100%; /*풀스크린*/
  height: 100%;
  /* width: 1920px; */
  /* height: 5000px; */
}

.Enter {
  /* background-color: gray; */
  /* height: 1600px; */
  width: 100%;
  height: 100%;
  background-image: url(../img/Mainimage.png);
  background-size: cover;
  color: #ec4d27;
}

/*첫번째 글상자 양식*/
.Enterphrase {
  font-family: "Pretendard-Regular";

  margin-left: 80px;
  padding-top: 188px;
  height: 100px;

  font-size: 79px;
  font-weight: 400;
  line-height: 94px;
}

/*Via-flight logo공간*/
.Via_flight_logoNForm {
  height: 250px;
  margin-top: 280px;
  margin-left: 80px;

  .logo_text {
    font-family: "EsaManru";

    width: fit-content;
    font-size: 300px; /*236px*/ /* #기준: [] */
    font-weight: 700;
    line-height: 317.79px;
  }

  /*여기까지 작업*/

  .Flight_textNlogo {
    display: flex;
  }

  .banner_logo {
    background-image: url("../img/bannner_logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 275px;
  }
}

.scrollIcon_container {
  height: 260px;

  display: flex;
  justify-content: center;
}

.scrollIcon_arrow {
  margin-top: 550px;
  /*img 가로, 세로 크기*/

  width: 28px;
  height: 28px;
  animation: motion 0.4s /*반복되는 시간*/ linear 0s /*효과 일정하게 반복*/
    infinite alternate; /*애니매이션 효과 무한으로 반복; 상하로 움직이는 효과 */
}

/*위-아래로 움직이는 효과*/
@keyframes motion {
  /*처음 위치*/
  0% {
    padding-top: 0px;
  }
  /*마지막 위치*/
  100% {
    padding-top: 10px;
  }
}
