/*설문지 양식*/
.form_style {
  z-index: 1;

  /* border: 1px solid blue; */
  height: 66px;

  margin-top: 680px;
  margin-left: 80px;

  font-family: "EsaManru";

  display: flex;
  position: relative;

  .Atime::before {
    content: "경유지 도착 시간:";
    font-size: 20px;
  }

  /*placeholder는 별도로 color지정하여 색상 지정*/
  input::placeholder {
    font-family: "EsaManru";
    color: #ec4d27;
    font-size: 20px;
  }
  input,
  select {
    font-family: "EsaManru";
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);

    color: #ec4d27;
    margin-right: 76px;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #ec4d27;
    width: 800px;
  }

  /*Time 아이콘 색상 입히기*/
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(34%) sepia(24%) saturate(5549%) hue-rotate(350deg)
      brightness(99%) contrast(86%); /* RGB 색상 변경 */
  }

  /*경유 시간 입력 화살표 색상*/
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    filter: invert(34%) sepia(24%) saturate(5549%) hue-rotate(350deg)
      brightness(99%) contrast(86%);
  }

  .searchBtn {
    border: 1px solid#ec4d27;
    border-radius: 5px;

    margin-right: 46.87px; /*우측 간격 주기 위해서 삽입*/

    /*text 중앙 정렬*/
    font-size: 20px;

    text-align: center;
    line-height: 66px;

    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    color: #ec4d27;
    height: 66px;
    width: 360px; /*284px*/
  }

  .searchBtn:hover {
    background-color: rgba(236, 77, 39, 1);
    color: rgba(25, 25, 25, 1);
  }
}
